<div id="page-captures-index" class="page-container">
  <ol class="breadcrumb">
    <li><a href="/">SniffHub</a></li>
    <li class="active">Sniffs</li>
  </ol>

  <div class="page-header">
    <h1>
      All Sniffs
    </h1>
  </div>

  <div class="page-section all-captures">
    <table class="table table-striped">
      <th>
        File Name
      </th>

      <th>
        Sniffed At
      </th>

      <th>
        Uploaded At
      </th>

      <th>
        Client Build
      </th>

      <th>
        Client Locale
      </th>

      <th>
        Sniff Type
      </th>

      <% @captures.order('original_file_name ASC').each do |capture| %>
        <tr>
          <td class="file-name" title="<%= capture.original_file_name %>">
            <%= link_to(capture.original_file_name, "/captures/#{capture.id}") %>
          </td>

          <td class="captured-at">
            <%= capture.captured_at %>
          </td>

          <td class="uploaded-at">
            <%= capture.uploaded_at %>
          </td>

          <td class="client-build">
            <%= capture.client_build %>
          </td>

          <td class="client-locale">
            <%= capture.client_locale || 'N/A' %>
          </td>

          <td class="capture-type">
            <%= capture.file_type.upcase %>
            <% if !capture.format_version.nil? %><%= capture.format_version %><% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
