<div id="page-show-upload" class="page-container">
  <ol class="breadcrumb">
    <li><a href="/">SniffHub</a></li>
    <li><a href="/uploads">Uploads</a></li>
    <li class="active"><%= @upload.original_file_name %></li>
  </ol>

  <div class="page-header">
    <h1>
      Viewing Upload
      <span class="record-id">ID: <%= @upload.id %></span>
    </h1>
  </div>

  <div class="page-section file-overview">
    <h3>
      File Overview
    </h3>

    <div class="row">
      <div class="facts">
        <div class="col-md-6">
          <div class="fact-block">
            <table class="table table-striped">
              <tr>
                <td class="fact-label">Uploader</td>
                <td class="fact-value"><%= @upload.user.name %></td>
              </tr>

              <tr>
                <td class="fact-label">File Size</td>
                <td class="fact-value"><%= number_to_human_size(@upload.file_size) %></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-md-6">
          <div class="fact-block">
            <table class="table table-striped">
              <tr>
                <td class="fact-label">File Name</td>
                <td class="fact-value"><%= @upload.original_file_name %></td>
              </tr>

              <tr>
                <td class="fact-label">SHA-256 Digest</td>
                <td class="fact-value"><%= @upload.file_digest %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section contained-captures">
    <h3>
      Contained Sniffs
    </h3>

    <table class="table table-striped">
      <th>
        File Name
      </th>

      <th>
        Sniffed At
      </th>

      <th>
        Client Build
      </th>

      <th>
        Client Locale
      </th>

      <th>
        Sniff Type
      </th>

      <% @upload.captures.each do |capture| %>
        <tr>
          <td>
            <%= link_to(capture.original_file_name, "/captures/#{capture.id}") %>
          </td>

          <td>
            <%= capture.captured_at %>
          </td>

          <td>
            <%= capture.client_build %>
          </td>

          <td>
            <%= capture.client_locale || 'N/A' %>
          </td>

          <td>
            <%= capture.file_type.upcase %>
            <% if !capture.format_version.nil? %><%= capture.format_version %><% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
